:root.theme-light {
  --bg-color-page: #FFF1F7;
  --header-title-color: #FFC2E6;
  --accent-color: #353430;
  --header-bg-discr-color: #FF8DCB;
  --header-title-shadow-color: #FF8DCB;
  --text-color: #353430;
  --main-title-text-color: #353430;
  --main-discr-color: #353430;
  --footer-title-color: #FFC2E6;
  --footer-title-shadow-color: #FF8DCB;
  --link-shadow-color: #FF8DCB;
  --bg-pic: url(../images/cover-image-light.png);
}

.theme-light .page {
  .decorated__element p {
    display: none;
  }

  .decorated__element::after {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color-page: #FFF1F7;
    --header-title-color: #FFC2E6;
    --accent-color: #353430;
    --header-bg-discr-color: #FF8DCB;
    --header-title-shadow-color: #FF8DCB;
    --text-color: #353430;
    --main-title-text-color: #353430;
    --main-discr-color: #353430;
    --footer-title-color: #FFC2E6;
    --footer-title-shadow-color: #FF8DCB;
    --link-shadow-color: #FF8DCB;
    --bg-pic: url(../images/cover-image-light.png);   
  }

  .theme-light .page {
    .decorated__element p {
      display: none;
    }
  
    .decorated__element::after {
      display: none;
    }
  }
}
